* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: yellow;
}
.fondo {
    background-image: url(../img/pacman.png);
    background-size: 100%;
    height: 70vh;
    background-repeat: no-repeat;
}
.pacmanmotion{
    position: relative;
    animation: pacman 15s infinite;
    top: 70px;
    left: -40px;
}
@keyframes pacman {
     0% {top: 70px; left: -40px;}
    5% {top: 330px; left: 80px;}
   /* 8% {top: 0px; left: 0px;}
    100% {top: 100px;}*/
} 
.pilo {
    display: flex;
    justify-content: center;
    height: 100;
    
}
.hola {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
    body {
        background-color: coral;
    }
    .fondo {
        background-image: url(../img/fondo.jpg);
        background-size: 100%;
        height: 70vh;
        background-repeat: no-repeat;
    }
    .pacmanmotion{
        width: 20px;
        position: relative;
        animation: pacman 15s infinite;
        top: 70px;
        left: -40px;
    }
    /*@keyframes pacman {
        0% {top: 15px; left: 0px;}
        5% {top: 15px; left: 155px;}
        8% {top: 75px;}
        100% {top: 100px;}
        
    }*/
}